<div *ngFor="let section of categorySections" class="mb-5">
  <div class="row">
    <div class="col-md-12 col-12 mb-4">
      <h2 class="heading-title">{{ section.name }}</h2>
      <span class="float-end">
        <a [href]="section.url" class="see-more">see more</a>
      </span>
      <div class="divide-left-line bg-dark-line"></div>
    </div>
  </div>

  <div class="row flex align-items-center">
    <div *ngFor="let product of section.products" class="col-md-3 col-6 mb-4">
      <div class="card bg-light shadow product-grid-box">
        <div class="product-grid-image">
          <a [href]="product.url">
            <img [src]="product.image" class="img-fluid" alt="{{ product.name }}">
          </a>
        </div>
        <div class="product-grid-content">
          <h4 class="m-0 mb-2">{{ product.name }}</h4>
          <p class="m-0">
            <strong>₹{{ product.price }}</strong>
            <span class="text-decoration-line-through deleted">₹{{ product.originalPrice }}</span>
            <span *ngIf="product.discountPercent" class="discount-percentage-box">
              -{{ product.discountPercent }}%
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
